/*place global styles here */
html, body { @apply h-full overflow-hidden; }

.select {
    background-color: rgb(var(--color-surface-100));
    @apply w-fit h-fit my-0 py-1 inline-flex border-none !border-b min-w-min whitespace-normal
}